$color:  #FFD54F;
$color1: #FFC107;
$color2: #FFB300;
$color3: #FFF8E1;
$color4: #666666;
$color5: #FFECB3;
@function shadow($mb-shadow) {
    @if $mb-shadow == 1 {
        @return 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $mb-shadow == 2{
        @return 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 3{
        @return 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 4{
        @return 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }@else{
        @return 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
.menu-flux{
  background: $color1;
  height: 100%;
  order: 1;
  width: 230px;
  ul{
    font-size: 12px;
    font-weight: 700;
    color: $color3;
    width: 100%;
    li{
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: .5em 1.5em .5em 1.5em;
      position: relative;
      transition: all .2s ease-in-out;
      width: 100%;
      .item-description{
        .fa{
          margin-right: .5em;
        }
      }
      .item-icon{
        margin-left: 2em;
        text-align: center;
        width: 20px;
      }
      .menu-detail{
        flex-grow: 2;
        max-height: 0px;
        transition: all .4s ease-in-out;
        overflow: hidden;
        width: 100%;
        li{
          border: none;
          color: $color5;
          padding-top: 1em;
          padding-left: 0;
          padding-right: 0;
        }
        li:hover{
          color: $color3;
        }
      }
      .menu-detail-show{
        max-height: 200px;
      }
    }
    li:hover{
      background-color: $color2;
    }
    li:not(:last-child){
      border-bottom: 1px solid $color;
    }
  }
  .menu-header{
    color: $color3;
    padding-top: .8em;
    padding-bottom: .8em;
    background-color: $color;
  }
  .menu-search{
    background: $color;
    color: $color3;
    position: relative;
    div:nth-child(1){
      height: 100%;
      width: 100%;
      z-index: 1;
      span{
        left: 0;
        padding-left: 16px;
        padding-right: 16px;
        position: absolute;
        right: 0;
        text-align: left;
        width: 26px;
      }
    }
    .search-input{
      background: transparent;
      cursor: pointer;
      height: 100%;
      font-weight: bold;
      padding: .5em 1.5em;
      width: 100%;
      padding-right: 3.5em;
      overflow: hidden;
      z-index: 9999;
    }
    .menu-icon{
      transition: all .4s ease-in-out;
    }
    .search-input:focus + span,
    .search-input:valid + span {
      color: $color2;
      transform: translateX(140px);
    }
  }
  .menu-icon{
    cursor: pointer;
  }
}
