$color1: #f4f4f4;
$color2: #adadad;
.header-flux{
  background: $color1;
  height: 30px;
  order: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul{
    font-size: 12px;
    font-weight: 700;
    color: $color2;
    li{
      display: inline-block;
      cursor: pointer;
      margin-right: 1em;
    }
  }
}
