@import './components/header/header';
@import './components/menu/menu';
@import './components/body/body';
$color1: #f9f9f9;

.main {
  background-color: $color1;
  display: flex;
  height: 100%;
  text-align: center;
  width: 100%;
}
.body-content{
  order: 3;
  width: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

input{
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
}
input:focus{
  outline: 0;
}
