// Your Doc page styles here!
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@function shadow($mb-shadow) {
    @if $mb-shadow == 1 {
        @return 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $mb-shadow == 2{
        @return 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 3{
        @return 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 4{
        @return 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }@else{
        @return 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
h1,h2,h3,h4{
  margin: 0;
}
.hidden{
  display: none;
}
html {
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  position: relative !important;
}
body{
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background: #f9f9f9 !important;
  position: relative !important;
  overflow: hidden !important;
}
span{
  padding: 0 !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
}
//XYZMO CSS
.xyzmo-body{
  height: 100% !important;
  width: 100% !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.xyzmo-col-menu{
  height: 100% !important;
  width: 220px !important;
  -webkit-box-ordinal-group: 1 !important;
  -moz-box-ordinal-group: 1 !important;
  -ms-flex-order: 1 !important;
  -webkit-order: 1 !important;
  order: 1 !important;
  overflow: hidden !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
}
.xyzmo-col-menu-mini{
  width: 50px !important;
}
.xyzmo-col-body{
  height: 100% !important;
  width: 100% !important;
  -webkit-box-ordinal-group: 2 !important;
  -moz-box-ordinal-group: 2 !important;
  -ms-flex-order: 2 !important;
  -webkit-order: 2 !important;
  order: 2 !important;
  position: relative !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
}
.xyzmo-col-body-mini{
  //width: 100% !important;
}
.xyzmo-left-menu{
  background: #015A9C !important;
  color: #848484 !important;
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
  overflow: hidden !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
  z-index: 2 !important;
}
.xyzmo-left-menu-mini{
  background: #015A9C !important;
}
.xyzmo-left-menu .xyzmo-menu-header{
  background: #efefef !important;
  height: 50px !important;
  width: 100% !important;
  position: relative !important;
  overflow: hidden !important;
  box-shadow: 4px 1px 5px #003760 !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
  z-index: 2 !important;
}
.xyzmo-menu-header-mini{
  box-shadow: 4px 1px 5px #003760 !important !important;
}
.xyzmo-left-menu .xyzmo-menu-body{
  align-self: flex-start !important;
  width: 100% !important;
}
.xyzmo-left-menu  .xyzmo-menu-list{
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-flex-direction: column !important;
  -moz-webkit-flex-direction: column !important;
  flex-direction: column !important;
}
.xyzmo-left-menu  .xyzmo-menu-list .xyzmo-menu-item{
  color: white !important;
  cursor: pointer !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
  padding: 1em 1em !important;

}
.xyzmo-left-menu  .xyzmo-menu-list .xyzmo-menu-item span{
  font-size: 12px !important;
  margin-left: 1em !important;
  opacity: 1 !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}
.xyzmo-menu-item-desc-mini{
  position: absolute !important;
  -webkit-transform: translateX(-200px) !important;
  -moz-transform: translateX(-200px) !important;
  transform: translateX(-200px) !important;
  opacity: 0 !important !important;
}
.xyzmo-menu-item-mini{
  display: block !important;
  text-align: center !important;
  color: white !important;
}
.xyzmo-menu-item-mini:hover{
  background: #004e88  !important;
}
.xyzmo-menu-item-mini:not(:last-child){
  //border-bottom: 1px solid #004e88 !important;
}
.xyzmo-left-menu  .xyzmo-menu-list .xyzmo-menu-item:hover{
  background: #004E88 !important;
}
.xyzmo-left-menu  .xyzmo-menu-list .xyzmo-menu-item:not(:last-child){
  //border-bottom: 1px solid #eaeaea;
}
.xyzmo-left-menu .xyzmo-menu-foot{
  background: #004E88 !important;
  bottom: 0 !important;
  color: #eaeaea !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  position: absolute !important;
  text-align: center !important;
  width: 100% !important;
  overflow: hidden !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
}
.xyzmo-menu-foot-mini{
  -webkit-transform: translateY(170px) !important;
  -moz-transform: translateY(170px) !important;
  transform: translateY(170px) !important;
}
.xyzmo-left-menu .xyzmo-menu-foot p{
  margin: 0 !important;
  padding: 0 !important;
}
.xyzmo-left-menu .xyzmo-menu-header .xyzmo-icon-menu{
  background: #eaeaea !important;
  cursor: pointer !important;
  height: 50px !important;
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
  width: 50px !important;
  z-index: 9999 !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
}
.xyzmo-logo-img::first-letter{
  font-weight: bold !important;
  color: #015A9C !important;
}
.xyzmo-icon-menu-mini{
  background: #004e88 !important;
  color: white !important;
}
.xyzmo-left-menu .xyzmo-menu-header .xyzmo-logo{
  align-items: center;
  cursor: pointer !important;
  display: flex !important;
  justify-content: flex-end;
  overflow: hidden !important;
  position: absolute !important;
  right: 0 !important;
  text-align: center !important;
  top: 0 !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
  width: 170px !important;
  vertical-align: middle !important;
}
.xyzmo-logo-mini{
  -webkit-transform: translateX(-100%) !important;
  -moz-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}
.xyzmo-col-body:after{
  content: "";
  background: url('./img/ico-formalizar.png') center no-repeat !important;
  opacity: 0.3 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
}
.arrow::after{
  border-bottom-color: #F7F7F7 !important;
}
.xyzmo-top-menu{
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  background: #efefef !important;
  box-shadow: -4px 1px 5px #b7b7b7 !important;
  height: 50px !important;
  width: 100% !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  text-align: center !important;
}
.xyzmo-top-menu .xyzmo-menu-list{
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.xyzmo-top-menu .xyzmo-menu-list li{
  color: #b7b7b7 !important;
  cursor: pointer !important;
  margin-left: 1em !important;
  margin-right: 1em !important;
  font-size: 16px !important;
  -webkit-transition: .4s all ease-in-out !important;
  -moz-transition: .4s all ease-in-out !important;
  transition: .4s all ease-in-out !important;
}

.xyzmo-top-menu .xyzmo-menu-list li:hover{
  color: #848484 !important;
}
.xyzmo-top-menu .xyzmo-menu-list li:last-child{
  color: #f6625e !important;
}

@media only screen and (max-width: 568px) {
  .xyzmo-col-menu{
    width: 50px;
  }
  .xyzmo-left-menu{
    background: #015A9C !important;
    color: white !important;
  }
  .xyzmo-left-menu .xyzmo-menu-item{
    display: block !important;
    text-align: center;
  }
  .xyzmo-left-menu .xyzmo-menu-item:not(:last-child){
    border-bottom: 1px solid #004e88 !important;
  }
  .xyzmo-left-menu .xyzmo-menu-item:hover{
    background: #004e88 !important;
  }
  .xyzmo-icon-menu{
    background: #004e88 !important;
  }
  .xyzmo-menu-header{
    box-shadow: 4px 1px 5px #003760 !important;
  }
  .xyzmo-menu-foot{
    display: none;
  }
  .xyzmo-logo{
    display: none !important;
  }
  .xyzmo-left-menu .xyzmo-menu-item span{
    display: none;
  }
  .xyzmo-col-body{
    width: calc(100% - 50px);
  }
  .xyzmo-top-menu{
    height: 100%;
  }
  .xyzmo-top-menu .xyzmo-menu-list{
    flex-direction: column;
  }
  .xyzmo-top-menu .xyzmo-menu-list li{
    color: #b7b7b7;
    cursor: pointer;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 16px !important;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
}
//XYZMO CSS

/*
// MENU LATERAL
.demo-header{
  color: white;
  height: 40px;
  width: 100%;
  background: #f2992e;
  box-shadow: shadow(1);
  display: flex;
  align-items: center;
  padding: 1em;
}
.demo-header>ul>.active{
  opacity: 1;
}
.demo-header>ul>li{
  cursor: pointer;
  opacity: 0.5;
}
.demo-header>ul>li:not(:last-child){
  margin-right: 1em;
};
.menu-lateral{
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background: #373737;
  display: none;
  box-shadow: shadow(3);
  z-index: 9999;
  overflow: auto;
  transform: translateX(-100%);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  .menu-header{
    // background: #EEEEEE;
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #232323;
    i{
      margin-right: 1em;
    }
  }
  .menu-body{
    i{
      margin-right: 1em;
    }
  }
  a{
    color: #ccc;
  }
  a:hover{
    background: #343434 !important;
  }
  a:focus,:active{
    background: #232323 !important;
  }
};
.menu-lateral-show{transform: translateX(0);}
.menu-mini{
  display: none !important;
  cursor: pointer;
}
.nav-content{
  position: relative !important;
  .nav-acordeon{
    display: none;
    background: #090909;
    a{
      padding-left: 2em;
      padding-right: 2em;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    };
  };
};
.nav-plus{
  position: relative;
  .fa-plus{
    position: absolute;
    right: 15px;
    top: 13px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}
.nav-plus:hover > .fa-plus{
  transform: rotate(180deg);
}
// MENU LATERAL
.form-group{
  position: relative;
  transition: all 0.2s ease-in-out;
}
.form-control-help{
  transition: all .4s ease-in-out;
  border: 2px solid #f2992e !important;
}

.form-control-help:focus,:active{
  outline-color: transparent !important;
  outline-style: none !important;
}
.help{
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: 700;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  .help-icon{
    background: #f2992e;
    cursor: pointer;
    box-shadow: shadow(1);
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .help-icon:hover{
    box-shadow: shadow(3);
    transform: translateY(-2px);
  }
  .help-text{
    background: #2d2d2d;
    padding: .5em;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 1em;
    transition: all .2s ease-in-out;
    opacity: 0;
  }
  .help-text:after{
    content: '';
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    width: 0; height: 0;
    border-top: 12px solid transparent;
    border-left: 12px solid #2d2d2d;
    border-bottom: 12px solid transparent;
  }
}
.help-container{
  position: absolute;
  top: 0;
  right: 0;
  max-height: calc(100% - 70px);
  //height: calc(100% - 20px);
  background: white;
  border-radius: 4px;
  width: 300px;
  padding: 0;
  box-shadow: shadow(3);
  margin: 10px;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
  transform: translateX(110%);
  z-index: 9999;
  .help-header{
    color: white;
    background: #f2992e;
    padding: 1em;
    width: 100% !important;
    text-align: center;
    top: 0;
    left: 0;
    cursor: pointer;
    .label{
      background: rgba(255,255,255,0.5);
    }
  }
  .help-body{
    padding: 1em;
    font-size: 12px;
    text-align: justify;
    overflow: auto;
    height: 100%;
    .help-title{
      font-size: 14px;
      font-weight: 700;
    }
  }
}
.help-text-show{
  box-shadow: shadow(3);
  transform: translateY(-2px);
  opacity: 1 !important;
}
.active{
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.help-text-block{
  box-shadow: shadow(3) !important;
  transform: translateY(-2px) !important;
  opacity: 1 !important;
}
.help-show{
  transform: translateX(0%);
}
.help-hidde{
  transform: translateX(110%);
}
.help-icon-item{
  color: white;
  //width: 20px;
  height: 18px;
  background: #f2992e;
  box-shadow: shadow(1);
  opacity: 0;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: 0;
  left: -80px;
  padding-left: .5em;
  padding-right: .5em;
  transition: all .4s ease-in-out;
  cursor: pointer;
  transform:scale(0);
}
.help-bounce-activate{
  // opacity: 1 !important;
  //box-shadow: shadow(2);
  animation-name: bounce !important;
  animation-duration: 1.5s !important;
  animation-delay: .2s !important;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite !important;
}
.help-show-bounce{
  transform:scale(1);
  opacity: .2;
}
@keyframes show-help-icon{
  0% {
      transform:scale(0);
      opacity: 0;
  }
  100% {
      transform:scale(1);
      opacity: .25;
  }
}
@keyframes bounce{
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    97% {
        transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform:translateY(-3%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
  .help-container{
    height: calc(100% - 70px);;
    background: white;
    border-radius: 0;
    width: 100%;
    margin: 0;
  };
  .menu-lateral{
    display: block;
  }
  .menu-mini{
    display: inline-block !important;
  }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}*/
