@import '~@schibstedspain/theme-basic/src/settings';
@import './components/main';

html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
a,a:hover,a:focus,a:active{
  text-decoration: none;
  color: inherit;
}
.main-container{
  height: 100%;
  width: 100%;
}
